<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shareit</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>401</error-code>
    <location>/general-error.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/general-error.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404Page</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/general-error.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/general-error.html</location>
  </error-page>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>
			/libraries/ckfinder/core/connector/java/connector.java
		</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AppFilter</filter-name>
    <filter-class>filter.AppFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AppFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSearchController</servlet-name>
    <servlet-class>controller.PublicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicContactController</servlet-name>
    <servlet-class>controller.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactController</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicAddCommentController</servlet-name>
    <servlet-class>controller.PublicAddCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAddCommentController</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicAboutController</servlet-name>
    <servlet-class>controller.PublicAboutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAboutController</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Public404PageController</servlet-name>
    <servlet-class>controller.Public404PageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Public404PageController</servlet-name>
    <url-pattern>/404Page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndex2CatController</servlet-name>
    <servlet-class>controller.AdminIndex2CatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndex2CatController</servlet-name>
    <url-pattern>/admin/categories-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchCatController</servlet-name>
    <servlet-class>controller.AdminSearchCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchCatController</servlet-name>
    <url-pattern>/admin/category/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/category/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/category/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/admin/category/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <servlet-class>controller.AdminIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <url-pattern>/admin/newses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCommentNewsController</servlet-name>
    <servlet-class>controller.AdminIndexCommentNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCommentNewsController</servlet-name>
    <url-pattern>/admin/news/comments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCommentController</servlet-name>
    <servlet-class>controller.AdminDelCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCommentController</servlet-name>
    <url-pattern>/admin/news/comment/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminActiveCommentNewsController</servlet-name>
    <servlet-class>controller.AdminActiveCommentNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminActiveCommentNewsController</servlet-name>
    <url-pattern>/admin/news/comment/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchNewsController</servlet-name>
    <servlet-class>controller.AdminSearchNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchNewsController</servlet-name>
    <url-pattern>/admin/news/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminActiveNewsController</servlet-name>
    <url-pattern>/admin/news/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsController</servlet-name>
    <servlet-class>controller.AdminAddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsController</servlet-name>
    <url-pattern>/admin/news/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminActiveNewsController</servlet-name>
    <servlet-class>controller.AdminActiveNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsController</servlet-name>
    <url-pattern>/admin/news/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsController</servlet-name>
    <servlet-class>controller.AdminDelNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsController</servlet-name>
    <url-pattern>/admin/news/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsController</servlet-name>
    <servlet-class>controller.AdminEditNewsController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminActiveUserController</servlet-name>
    <servlet-class>controller.AdminActiveUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminActiveUserController</servlet-name>
    <url-pattern>/admin/user/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCheckExistUserController</servlet-name>
    <servlet-class>controller.AdminCheckExistUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCheckExistUserController</servlet-name>
    <url-pattern>/admin/user/checkusername</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchUserController</servlet-name>
    <servlet-class>controller.AdminSearchUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchUserController</servlet-name>
    <url-pattern>/admin/user/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexSlideController</servlet-name>
    <servlet-class>controller.AdminIndexSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexSlideController</servlet-name>
    <url-pattern>/admin/slides</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchSlideController</servlet-name>
    <servlet-class>controller.AdminSearchSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchSlideController</servlet-name>
    <url-pattern>/admin/slide/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminActiveSlideController</servlet-name>
    <servlet-class>controller.AdminActiveSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminActiveSlideController</servlet-name>
    <url-pattern>/admin/slide/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelSlideController</servlet-name>
    <servlet-class>controller.AdminDelSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelSlideController</servlet-name>
    <url-pattern>/admin/slide/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddSlideController</servlet-name>
    <servlet-class>controller.AdminAddSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddSlideController</servlet-name>
    <url-pattern>/admin/slide/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditSlideController</servlet-name>
    <servlet-class>controller.AdminEditSlideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditSlideController</servlet-name>
    <url-pattern>/admin/slide/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexContactController</servlet-name>
    <servlet-class>controller.AdminIndexContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexContactController</servlet-name>
    <url-pattern>/admin/contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchContactController</servlet-name>
    <servlet-class>controller.AdminSearchContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchContactController</servlet-name>
    <url-pattern>/admin/contact/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelContactController</servlet-name>
    <servlet-class>controller.AdminDelContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelContactController</servlet-name>
    <url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthRegisterController</servlet-name>
    <servlet-class>controller.AuthRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthRegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthActiveRegisterController</servlet-name>
    <servlet-class>controller.AuthActiveRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthActiveRegisterController</servlet-name>
    <url-pattern>/checkuseremail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthForgotPasswordController</servlet-name>
    <servlet-class>controller.AuthForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthForgotPasswordController</servlet-name>
    <url-pattern>/forgot-password</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthHowLongAgoLoginController</servlet-name>
    <servlet-class>controller.AuthHowLongAgoLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthHowLongAgoLoginController</servlet-name>
    <url-pattern>/auth/how-long-ago-login</url-pattern>
  </servlet-mapping>
</web-app>